 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
        height:100%;
        max-height:100%;
        min-width:100%;
        overflow: hidden;
        position:fixed;
        -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;

    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }


img{
  border-radius:15%;
}


    /* HOVER functionality for points!
    .events{}
    .events:hover{
        stroke-width:10px;
    }
    .events:focus{
        stroke-width:10px;
    }
    */

    

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }


    #test {
        color:black;
    }

    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #202020;
        color: #fff;
        transition: all 0.3s;
        min-width: 250px;
        max-width: 250px; 
        overflow-y:scroll;  
        max-height:100vh;
        display:inline-block;
        overflow-x: hidden;     
    }



    #sidebar .sidebar-header {
        display:inline-block;
        padding: 0px;
        background: #202020;
        margin-left:7px;
        font-size: .9em;
        max-width:100%;

    }
      
    #sidebar.active {
        margin-left: -250px;
    } 

    #sidebar ul.components {
        padding: 75px 0;
        border-bottom: 1px ;

    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    } 

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }


#closeCountyPopup{
  margin-left:100%;
  position: sticky; 
  top:0;
  cursor:pointer;
  pointer-events:all;
  color: #fff;
  font: 30px Baskerville;  
  padding-left:1vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#closeCountyPopup:hover{
   transition: all 200ms;
  color:#ffba00
}


#closeCountyPopupBottom{
  
  
  margin-left:100%;
  position: sticky; 
  bottom:400;
  cursor:pointer;
  pointer-events:all;
  color: #fff;
  font: 30px Baskerville;  
  padding-left:1vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}



    div.countyTooltip {  
        word-wrap: normal;
        position: absolute;
        text-align: center;
        min-height: 20px;
        min-width: 30px;                      
        padding: 2px;               
        font: 14px Baskerville;      
        color: #fff;
        background-color: rgba(51,51,51,.85);
        border: solid thin black;
        padding: 5px 10px 10px 5px;
        top: -75px;       
        pointer-events: none;           
    }

    div.county2014Tooltip { 
        word-wrap: normal;
        position: absolute;
        text-align: center;
        border-radius: 15px;           
        padding: 4px;               
        font-size: .9em ; 
        line-height: 1.5em;
        font-family:'poppins';  
        font-weight: 150;
        color: red;
       
        margin-top:11vh;
        background-color: rgba(51,51,51,.85);
        pointer-events:none;
        border: solid thin black;
        padding: 5px 10px 10px 5px;
        overflow-y:scroll; 
        overflow-wrap: break-word;
        word-wrap: break-word;
        display:inline-block ;
        margin-left:1vh;
        opacity:.2;
        padding-bottom:3%;
        padding-left:3vh;
        padding-right:3vh;

    }

        #aboutTooltip { 

    word-wrap: normal;
   

    margin-top:1vh;
            position: absolute;
          width:400px;
        text-align: left;
        border-radius: 4px;           
        padding: 5px 0         
        font-size: 14px ; 
        line-height: 1.5em;
        font-family:'Poppins';  
        font-weight: 150;
        color: #AAAAAA;
        background-color: #202020;
        border: solid thin #AAAAAA;
        overflow-y:scroll; 
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin-left:1vh;
        padding-bottom:3%;
        padding-left:2.5vh;
        padding-right:4.5vh
    }

     #aboutTooltip::-webkit-scrollbar-thumb {
    background:#202020 !important;
}

  @media all and (min-width:0px) and (max-width: 576px) {
    #aboutTooltip {
          height:60vh;
          overflow-y:auto;
          margin-left: -26vh; 
          min-width: 25vh;    
         max-width: 35vh; 
       }
}

@media (min-width: 576px) {

 #aboutTooltip {
          height:50vh;
          overflow-y:auto;
          margin-left: -22%; 
          min-width: 45vh;    
         max-width: 55vh; 

       }
}

@media (min-width: 768px) {

 #aboutTooltip {
          height:50vh;
          overflow-y:auto;
          margin-left: -22%; 
          min-width: 45vh;    
         max-width: 55vh; 

       }


 }


    @media (min-width: 992px) {
    #aboutTooltip {
          height:50vh;
          overflow-y:auto;
          margin-left: -22%; 
          min-width: 45vh;    
         max-width: 55vh; 
       }
    }

           .aboutTooltipHeader { 

        color: #ffba00;
        font-weight:600;    
    }




        div.county2014Tooltip.visible { 
        
        pointer-events: all;
        opacity:.9;
       
        
    }

        div.county2014Tooltip.invisible { 

        
        
    }

    ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px white
}

   @media all and (min-width:0px) and (max-width: 576px) {
     div.county2014Tooltip  {
        min-height:50vh;
        min-width: 25vh;    
        max-width: 40vh; 
        max-height:70vh; 
        overflow-wrap: break-word; 
        word-wrap: break-word;
  }

  .leaflet-control-zoom{
      margin-top:90vh !important;
    }

    .btn-toolbar{
      margin-left:1.5vh !important;
      padding:0px!important;
    }

    .btn-group{
      margin-left:.2vh !important;
    }

    #calendarContainer {

  width:96px;
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}


    #timeContainer{
      padding-bottom:55%;
    }


}

@media (min-width: 576px) {

  div.county2014Tooltip  {
        min-height:50vh;
        min-width: 25vh;    
        max-width: 50vh; 
        max-height:70vh; 
        overflow-wrap: break-word; 
        word-wrap: break-word;
  }

 /* .leaflet-control-zoom{
      margin-top:90vh !important;
    }

    .btn-toolbar{
      margin-left:.5vh !important;
    }*/

        #calendarContainer {

  width:23%;
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

    #timeContainer{
      padding-bottom:35%;
    }


}


}

@media (min-width: 768px) {

  div.county2014Tooltip  {
        min-height:50vh;
        min-width: 25vh;    
        max-width: 60vh; 
        max-height:70vh; 
        overflow-wrap: break-word; 
        word-wrap: break-word;
  }

          #calendarContainer {

  width:23%;
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

#timeContainer{
      padding-bottom:35%;
    }


 }

@media (min-width: 992px) { 

 div.county2014Tooltip  {
        min-height:50vh;
        min-width: 25vh;    
        max-width: 60vh; 
        max-height:70vh; 
        overflow-wrap: break-word; 
        word-wrap: break-word;
  }

          #calendarContainer {

  width:23%;
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

#timeContainer{
      padding-bottom:35%;
    }

}


    .county2014Tooltip:active {
      
    }

    

    .d3-slider {
        position: relative;
        font-family: Verdana,Arial,sans-serif;
        font-size: 1.1em;
        border: 1px solid #aaaaaa;
        z-index: 2;
    }

    .

    div.leafletDiv {  
        word-wrap: normal;
        position: absolute;
        text-align: center;
        max-height: 20px;
        max-width: 30px;                      
        padding: 2px;               
        font-size: .9em ;         
        color: #fff;
        background-color: rgba(51,51,51,.85);
        border: solid thin black;
        padding: 5px 10px 10px 5px;
        top: -75px;       
        pointer-events: none;           
    }
    .leaflet-container > svg .svglayer path {
        pointer-events: auto ;
    }

    .containerID {
      width: 500px;
      height: 200px;
    }

#toggle{
padding-top:-75px;
margin-top:-100px;
margin-left:50px;
background-color:red;

}

#map{
    height:100%;
}

#content{
    width:100%;
    height:100%;
    min-width:100%; 
}




.qs-datepicker-container{  
    display:inline-block;
    margin-left:-8.95%;
    max-width:90%;
    min-width:87%;

    
}

#datepicker{

}

#calendarContainer {

  
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

#datepicker{
 width:100% !important;
 height:100% !important;
font-size: 14px;
margin:0 auto;
display: inline-block;
top:50%;
padding:0px;
padding-left:3%;
padding-right:2%;



}

.datepicker.datepicker-dropdown{
 padding:5px;

}

td.day{
  font-family: 'Poppins';
font-size:12px;
}


td.today.day {
background:blue;
}


.qs-squares{
    font-size:14px;
}

.qs-active {
   font-weight: 800;
   color:black;
}

.qs-current{
   font-weight: 300 !important;
   color:black;
}

.qs-current.qs-active{
   font-weight: 800 !important;
   color:black;
}


.qs-num{
    font-family:'Poppins';
}

.qs-month{
    font-family:'Poppins';
}

.qs-year{
    font-family:'Poppins';
}

.qs-day{
    font-family:'Poppins';
}

.qs-controls{
    min-height:20px;
}

.filterContainer{
  display: inline-block;
  position: relative;
  margin: 15px auto;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  padding: 1px;
  margin-bottom:10%;


}

h2 {
    color: #AAAAAA;
}

h5 {
padding-left:2%;
}

.filterContainer ul{
  list-style: none;
  margin: 0;
  margin-top: -12%;
  margin-left: -12%;   

}

.dropdown-toggle.btn.btn-secondary.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



.dropdown-toggle.btn:hover {
    color:#ffba00

}

#sidebarCollapse.btn{
    background-color:#5A6268
    
}

#sidebarCollapse.btn:hover {
    color:#ffba00;
    border:solid thin #AAAAAA
    
}

#sidebarCollapse.btn:focus,.btn:active {
   color:#ffba00;
   outline-color: #AAAAAA;
   border:solid thin #AAAAAA;
   box-shadow: none !important;
   -webkit-box-shadow: none !important
}




#about.btn {
    background-color:#5A6268;
    pointer-events: all
    
}

#about.btn:hover {
    color:#ffba00;
    border:solid thin #AAAAAA
}

#about.btn:focus,.btn:active {
   color:#ffba00;
   outline-color: #AAAAAA;
   border:solid thin #AAAAAA;
   box-shadow: none !important;
   -webkit-box-shadow: none !important
}

#dropdownMenuButton.btn {
     background-color:#5A6268;
     box-shadow: none !important;
   -webkit-box-shadow: none !important
    
}

#dropdownMenuButton.btn:hover {
    color:#ffba00;
    border:solid thin #AAAAAA
}


#dropdownMenuButton.btn:focus,.btn:active {
   color:#ffba00;
   outline-color: #AAAAAA;
   border:solid thin #AAAAAA;
   box-shadow: none !important;
   -webkit-box-shadow: none !important
}

#dropdown-toggle.btn::after{
  display: none;
   margin-left: -132%; 

}



.dropdown-menu.show {
   background-color: #202020;
   border:solid thin #AAAAAA;
   
}

.dropdown-item {
  color:#AAAAAA
}

.dropdown-item::after, :before {
  background-color:none;
   /* box-sizing: border-box; */
}

.dropdown-item:hover {
  color:#ffba00;
  background-color:#202020
   /* box-sizing: border-box; */
}

.btn-info.btn:hover {
    color:#ffba00
}

.btn-info.btn {
    border:solid thin #AAAAAA;
}

.container{

}

.btn-group{
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttons{
    position: relative;
}


button:focus{
 outline:none !important;
 }

ul li{
  color: #AAAAAA;
  display: inline-block;
  position: relative;
  float: left;
  min-width: 200px;
  max-height: 36px;
  max-width:240px;
  margin-left:-9%;



  
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.1em;
  padding: 18px 25px 15px 50px;
  margin: 10px auto;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;

}

ul li:hover label{
    color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 30px;
  left: 20px;
    z-index: 5;
    transition: border .15s linear;
    -webkit-transition: border .15s linear;
}

ul li:hover .check {
  border: 4px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  top: 3.5px;
  left: 3.5px;
  margin: auto;
  transition: background 0.15s linear;
  -webkit-transition: background 0.15s linear;
}

input[type=radio]:checked ~ .check {
  border: 4px solid #ffba00;
}

input[type=radio]:checked ~ .check::before{
  background: #ffba00;
}

input[type=radio]:checked ~ label{
  color: #ffba00;
}

#bottom-advertismnet {
    display: none;
}

.disable-hover {
  pointer-events: none;
}

@media all and (min-width:320px) and (max-width: 960px) {
    ul li:hover label {
    color: #AAAAAA;
    background: transparent;
  }
}

@media all and (min-width:320px) and (max-width: 960px) {
    ul li .check:hover {
    border: 4px solid #AAAAAA;
    background: transparent;
  }
}

@media all and (min-width:320px) and (max-width: 960px) {
    ul li:hover .check {
    border: 4px solid #AAAAAA;
    background: transparent;
  }
}

@media all and (min-width:320px) and (max-width: 960px) {
    .check:hover {
    border: 4px solid #AAAAAA;
    background: transparent;
  }
}

@media all and (min-width:320px) and (max-width: 960px) {
    ul li:hover {
    color: #AAAAAA;
    background: transparent;
  }
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

.myCurrentLocation
{
  float: left;
  margin: 40px;
  width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 1%;
  animation: shadow-pulse 1s infinite;
}


   @media all and (min-width:0px) and (max-width: 576px) {

 /*   #sidebarCollapse  {
      margin-left:6.2vh;
    }
    #dropdownMenuButton  {
      margin-left:19vh;
    }
    #about  {
      margin-left:30vh;
    }*/

}

@media (min-width: 576px) {

/*  #sidebarCollapse  {
      margin-left:8.2vh;
    }
  #dropdownMenuButton  {
      margin-left:21vh;
    }
  #about  {
      margin-left:32vh;
    }*/
}


 




@media (min-width: 768px) {

/* 
   #sidebarCollapse  {
    margin-left:60vh;
  }
  #dropdownMenuButton  {
    margin-left:14vh;
  }
  #about  {
    margin-left:35vh;
  }
*/
 }

@media (min-width: 992px) { 

/*    #sidebarCollapse  {
    margin-left:60vh;
  }
  #dropdownMenuButton  {
    margin-left:14vh;
  }
  #about  {
    margin-left:55vh;
  }*/

 }

}