
svg {
	
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}


#sidebar {
  display: block;
  width: 25px;
  height: 10%;
  max-width: 100%;
  float: left;
}


.countyHover {
    
    opacity:.9;
    stroke-width: 3px;
    stroke:black;  
}



div.countyTooltip {  
    word-wrap: normal;
    position: absolute;
    text-align: center;
    min-height: 20px;
    min-width: 30px;                      
    padding: 2px;               
    font: 14px Baskerville;      
    color: #fff;
    background-color: rgba(51,51,51,.85);
    border: solid thin black;
    padding: 5px 10px 10px 5px;
    top: -75px;       
    pointer-events: none;           
}

div.county2014Tooltip {  
    word-wrap: normal;
    position: absolute;
    text-align: center;
    min-height: 20px;
    min-width: 30px;                      
    padding: 2px;               
    font: 14px Baskerville;      
    color: #fff;
    background-color: rgba(51,51,51,.85);
    border: solid thin black;
    padding: 5px 10px 10px 5px;
    top: -75px;       
    pointer-events: none;           
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.

div.leafletDiv {  
    word-wrap: normal;
    position: absolute;
    text-align: center;
    min-height: 20px;
    min-width: 30px;                      
    padding: 2px;               
    font: 14px Baskerville;      
    color: #fff;
    background-color: rgba(51,51,51,.85);
    border: solid thin black;
    padding: 5px 10px 10px 5px;
    top: -75px;       
    pointer-events: none;           
}
.leaflet-container > svg .svglayer path {
    pointer-events: auto ;
}

.containerID {
	width: 500px;
	height: 200px;
}


